body {
	margin-top: 50px;
}

#titleJumbotron {
	padding: 20px inherit;
}

#titleHeader{
	font-size: 50px;
}

#inventoryInput {
	margin-bottom: 10px;
}

#quantityInput {
	margin-bottom: 10px;
}

#chartContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

#weeklyNav {
	margin-left: 20px;
	margin-right: 20px;
}