body {
	margin-top: 50px;
}

#titleJumbotron {
	padding: 20px inherit;
}

#orderRow {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#inventoryInput {
	margin-bottom: 10px;
}

#quantityInput {
	margin-bottom: 10px;
}

#chartContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}